.h2-experiencia {
  max-width: 1200px;
  margin: 0 auto;
}
.h2-experiencia {
  display: flex;
  justify-content: flex-end;
}

.conatiner-experiencia img {
  padding-top: 40px;
  padding-bottom: 160px;
}
.conatiner-experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.segunda-coluna-experiencia {
  padding-top: 40px;
  text-align: right;
}

.shine-experiencia {
  position: relative;
}

/*
.shine-experiencia::after {
  content: "";
  display: inline-block;
  width: 900px;
  height: 800px;
  left: -150px;
  top: 400px;
  background-image: url("../img/shine-3.png");
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  opacity: 0.6;
}
*/

/* Responsivo */

@media (max-width: 1400px) {
  .experiencia {
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  .conatiner-experiencia img {
    display: none;
  }
  .conatiner-experiencia {
    grid-template-columns: 1fr;
  }
  .h2-experiencia {
    justify-content: start;
    display: inline-block;
  }
  .segunda-coluna-experiencia {
    text-align: left;
    padding-bottom: 40px;
  }
  .shine-experiencia p {
    font-size: 16px;
    line-height: 24px;
  }
}
