footer {
  background: #03318c;
  margin-top: -100px;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container-footer p {
  color: #fff;
  font-size: 12px;
  padding-bottom: 34px;
  margin-top: -100px;
}

/* Responsivo */

@media (max-width: 1400px) {
  .container-footer {
    margin: -100px 20px 0 0;
  }
  footer {
    margin-top: -50px;
  }
  .container-footer p {
    padding-bottom: 0;
  }
}
