.container-form {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.segunda-coluna-form {
  background-color: #fff;
  border-radius: 0 40px 40px 0;
  position: relative;
}
.circle {
  position: absolute;
  right: 10%;
  bottom: 15%;
  z-index: -1;
  width: 80%;
  height: auto;
}

.primeira-coluna-form {
  border: #fff solid 4px;
  border-radius: 40px 0 0 40px;
  /* z-index: 1; */
  position: relative;
}
.segunda-coluna-form h3 {
  padding-top: 80px;
  padding-bottom: 10px;
}
.segunda-coluna-form p {
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 17px;
}
.segunda-coluna-form > div {
  max-width: 80%;
  margin: 0 auto;
}

/* form */

.input-box {
  position: relative;
}
.input-form {
  border: none;
  border-bottom: 1px solid #959595;
  outline: none;
  background: none;
}
textarea {
  border: 1px solid #959595;
  resize: none;
  width: 70%;
  outline: none;
  border-radius: 4px;
}
.label-form {
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: 0.5s;
  color: #a9a9ac;
}
.input-form {
  width: 70%;
  transition: ease-in-out, width 0.35s ease-in-out;
}
.input-form:focus {
  width: 80%;
}
.input-form:focus ~ .label-form,
.input-form:valid ~ .label-form {
  top: -20px;
  font-size: 16px;
  color: #d2d1d1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
}
.botao-enviar {
  margin-bottom: 80px;
}

/* Responsivo */

@media (max-width: 1400px) {
  .form {
    margin: 0 20px;
  }
}
@media (max-width: 700px) {
  .segunda-coluna-form::before {
    width: 80%;
    height: 80%;
    left: 10%;
    top: -20%;
    z-index: -1;
    overflow: hidden;
  }
  .primeira-coluna-form {
    display: none;
  }
  .container-form {
    display: flex;
    justify-content: center;
  }
  .segunda-coluna-form h3 {
    text-align: center;
  }
  .segunda-coluna-form {
    border-radius: 40px;
  }
  .input-form {
    width: 100%;
    transition: ease-in-out, width 0.35s ease-in-out;
  }
  .input-form:focus {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  .segunda-coluna-form p {
    text-align: center;
  }
  .container-form {
    overflow: visible;
  }
  .circle {
    right: 15%;
    bottom: 60%;
    z-index: -1;
    width: 70%;
    height: auto;
  }
  .botao-enviar button {
    width: 100%;
  }
  .primeira-coluna-form .circle {
    display: none;
  }
}
