body {
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #2e2e2e;
  font-size: 18px;
  background-color: #06051b;
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
dd {
  margin: 0px;
}

h2 {
  padding-top: 160px;
  padding-bottom: 30px;
  font-size: 3.75rem;
  font-weight: 400;
  color: #f3f3f3;
  font-family: "Poppins";
  font-style: normal;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.divisor {
  max-width: 1400px;
  margin: 0 auto;
}

/* Animação carregar pagina */

@keyframes zoom {
  0% {
    /* opacity: 0; */
    scale: 2;
  }
  100% {
    /* opacity: 1; */
    scale: 1;
  }
}

@keyframes opacity {
  0% {
    /* opacity: 0; */
    opacity: 0;
  }
  100% {
    /* opacity: 1; */
    opacity: 1;
  }
}

@keyframes blur {
  0% {
    filter: blur(90px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(10deg);
  }
  50% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
