.habilidades {
  max-width: 1200px;
  margin: 0 auto;
}

.container-habilidades {
  background-color: #d7d7d7;
  box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  margin-bottom: 160px;
}

.habilidades h2 {
  padding: 40px;
  color: var(--cor-3);
}

.habilidades ul {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.container-habilidades p {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.container-habilidades img {
  background: #d7d7d7;
  box-shadow: -4px -4px 4px rgba(244, 243, 243, 0.88), 5px 5px 6px #5b5b5b;
  border-radius: 20px;
  padding: 8px;
}
#icon-figma {
  padding: 8px 18px;
}

#icon-react {
  background: #949393;
}

/* Responsivo */

@media (max-width: 1300px) {
  .container-habilidades {
    margin: 0 20px 160px 20px;
  }
}

@media (max-width: 1150px) {
  .habilidades-tec p {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .habilidades ul {
    flex-wrap: wrap;
    gap: 0 80px;
  }
}
@media (max-width: 710px) {
  .container-habilidades img {
    background: rgba(255, 255, 255, 0.071);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.087);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 8px;
    filter: brightness(2);
    transform: scale(1.2);
  }
  .container-habilidades {
    background: none;
    margin-bottom: 80px;
  }
  .habilidades ul {
    gap: 10%;
    justify-content: center;
  }
  .habilidades-tec p {
    padding-top: 8px;
    color: #d7d7d7;
  }
  .habilidades-tec li {
    padding-bottom: 20px;
  }
  #icon-react {
    background: rgba(89, 88, 88, 0.211);
    filter: brightness(0.8);
  }
  .habilidades h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 0;
    padding-bottom: 8px;
    margin-top: 80px;
    /* margin: 0 20px 80px 20px; */
  }
  .habilidades-tec {
    margin-top: 44px;
  }
  .container-habilidades img {
    width: auto;
    height: 45%;
  }
}
