.bkg-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
}
.bkg-home h1 {
  display: flex;
  justify-content: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
  /* z-index: -100; */
  animation-name: opacity, zoom, blur;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
}
h1 {
  z-index: -100;
}

/* .aurora {
  opacity: 0.6;
  width: 150vw;
  height: auto;
  position: absolute;
  top: 30%;
  left: -20%;
  filter: blur(40px);
  z-index: -1;
} */

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.moldura-home {
  width: 80vw;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 20px;
  animation-name: border;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
.galaxy {
  position: absolute;
  bottom: 0;
  z-index: -10;
  animation: zoomGalaxy 1.5s ease-out;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  opacity: 0.6;
 scale: .5; 
  top: -30%;
    left: -50%;
    right: -50%;

}
.redes-home {
  display: flex;
  padding-left: 80px;
  animation-name: opacity;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
}
.redes-home img {
  max-width: 100%;
  height: auto;
}
.scroll-down-home {
  display: flex;
  justify-content: center;
  animation-name: opacity;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
}
.scroll-down-home div {
  display: flex;
  justify-content: center;
  transform: translateY(-60px);
}
.scroll-down-home p {
  opacity: 0.6;
}
.scroll-down-home img {
  position: absolute;
  animation: go-back 1s infinite;
  opacity: 0.2;
  margin-top: 20px;
}
.redes-home li {
  padding-top: 10px;
}
.redes-home a {
  transition: all 0.3s;
  opacity: 1;
}
.redes-home a:hover {
  opacity: 0.4;
  padding-left: 4px;
}

@keyframes go-back {
  0% {
    padding-top: 0;
  }
  50% {
    padding-top: 5px;
  }
  100% {
    padding-top: 0px;
  }
}

/* Animação border  */

@keyframes border {
  0% {
    border: 0px solid rgba(255, 255, 255, 0);
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

/* responsividade  */

@media (max-width: 1400px) {
  .bkg-home h1 {
    font-size: 5rem;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }
  .moldura-home {
    width: 90vw;
  }
}

@media (max-width: 1180px) {
  .redes-home {
    padding-left: 4.5vw;
  }
  .bkg-home h1 {
    display: flex;
    justify-content: flex-start;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4.5vw;
  }
}
@media (max-width: 1000px) {
  .bkg-home h1 {
    position: absolute;
    top: 10%;
    z-index: 20;
  }
  .redes-home {
    position: absolute;
    bottom: 10%;
  }
  .moldura-home {
    animation: none;
  }
  .bkg-home {
    overflow: hidden;
  }
  .foto-thales {
    max-height: 400px;
  }
  .galaxy {
    right: 0;
    top: 10%;
  }
  .scroll-down-home {
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -50px;
  }
}
@media (max-width: 560px) {
  .bkg-home h1 {
    font-size: 3rem;
    max-width: 13ch;
  }
  .galaxy {
    /* width: 180vw; */
    height: 80vh;
    animation: zoom 1.5s ease-out;
    scale: 1;
  }
}

@media (min-width: 381px) {
  .aurora {
    display: none;
  }
  .galaxy {
    width: 180vw;
  }
}

@media (max-height: 500px) {
  .bkg-home h1 {
    font-size: 2rem;
    padding-top: 20vh;
  }
  .redes-home li {
    width: 20px;
  }
}
