.bkg-home {
  /* background-image: url("../img/bkg-home.jpg"); */
  /* padding-top: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #06051b; */
  /* width: 100vw; */
  position: relative;
  height: 100vh;
}

.bkg-home h1 {
  padding-left: 217px;
  /*padding-top: 70px; */
  padding-top: 5vh;
  padding-bottom: 5vh;
  z-index: 100;
  white-space: nowrap;
  animation-name: opacity, zoom, blur;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
}

/* .bkg-home h1::after {
  content: "";
  margin-left: 8px;
  display: inline-block;
  width: 4px;
  height: 94px;
  background-color: #ffffff;
  position: absolute;
  animation: pulse 0.8s infinite steps(200);
  animation-name: opacity;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
} */

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.moldura-home {
  width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
  /* border: 1px solid #ffffff; */
  border-radius: 20px;
  /* width: 100%; */
  animation-name: border;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.moldura-home::before {
  display: flex;
  justify-content: center;
  top: -30%;
  left: 0;
  width: 100%;
  height: 200%;
  content: "";
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
  background: url("../img/galaxy-comp.gif");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  animation: zoom 1.5s ease-out;
  transition-timing-function: ease-in-out;
}

.redes-home {
  display: flex;
  padding-left: 80px;
  animation-name: opacity;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

.scroll-down-home {
  display: flex;
  justify-content: center;
  animation-name: opacity;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
}

.scroll-down-home div {
  display: flex;
  justify-content: center;
  transform: translateY(-60px);
}

.scroll-down-home p {
  opacity: 0.6;
}

.scroll-down-home img {
  position: absolute;
  animation: go-back 1s infinite;
  opacity: 0.2;
  margin-top: 20px;
}

.redes-home li {
  padding-top: 10px;
}

.redes-home a {
  transition: all 0.3s;
  opacity: 1;
}

.redes-home a:hover {
  opacity: 0.4;
  padding-left: 4px;
}

@keyframes go-back {
  0% {
    padding-top: 0;
  }
  50% {
    padding-top: 5px;
  }
  100% {
    padding-top: 0px;
  }
}

/* Animação border  */

@keyframes border {
  0% {
    border: 0px solid rgba(255, 255, 255, 0);
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
