.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 144px;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;

  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
