.projetos {
  background-color: #06051b;
}

.conatiner-projetos {
  position: relative;
}

.conatiner-projetos::before {
  content: "";
  display: inline-block;
  width: 900px;
  height: 1100px;
  left: -700px;
  top: 0px;
  background-image: url("../img/shine-2.png");
  position: absolute;
  z-index: 0;
  opacity: 0.6;
}

.primeiro-conatiner-projetos {
  z-index: 1;
}

.h2-projetos {
  max-width: 1200px;
  margin: 0 auto;
}

.conatiner-projetos img {
  padding-top: 40px;
}
.conatiner-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.conatiner-projetos p {
  max-width: 38ch;
}

.segunda-coluna-projetos {
  display: flex;
  justify-content: flex-end;
}

.conatiner-projetos button {
  padding: 12px 32px;
  background: linear-gradient(94.41deg, #03318c, #056cf2, #03318c);
  border: none;
  cursor: pointer;
  margin-top: 24px;

  background-size: 300%;
  background-position: left;
  transition: background-position 0.8s ease-in-out;
}

/*
.conatiner-projetos button {
  transition: background-position 1s ease-in-out;
} */

.conatiner-projetos button:hover {
  background-position: right;
}
