.container-projetos {
  position: relative;
}
.container-projetos::before {
  content: "";
  display: inline-block;
  width: 900px;
  height: 1100px;
  left: -700px;
  top: 0px;
  background-image: url("../img/shine-2.webp");
  position: absolute;
  z-index: 0;
  animation: pulsar 4s infinite;
}
@keyframes pulsar {
  0% {
    opacity: 0.6;
  }
  25% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}
.h2-projetos {
  max-width: 1200px;
  margin: 0 auto;
}
.container-projetos img {
  padding-top: 40px;
  max-width: 100%;
  height: auto;
}
.container-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.container-projetos p {
  max-width: 38ch;
}
.segunda-coluna-projetos {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

/* Responsividade  */

@media (max-width: 1400px) {
  .projetos {
    margin: 0 20px;
  }
}

@media (max-width: 540px) {
  .container-projetos {
    gap: 10px;
  }
}
