.h2-sobre {
  max-width: 1200px;
  margin: 0 auto;
}

.container-sobre {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  gap: 0 40px;
  /* grid-template-areas: "a b"; */
}

.container-sobre p {
  padding-top: 40px;
}
.foto-thales {
  max-width: 100%;
  min-width: 50%;
}
.decor-sobre {
  position: relative;
  padding-top: 100px;
}

.decor-sobre::after {
  content: "";
  left: 140px;
  top: 144px;
  display: inline-block;
  width: 94px;
  height: 94px;
  background-image: url("../img/Ellipse-5.svg");
  position: absolute;
}

.decor-sobre::before {
  content: "";
  left: 250px;
  top: 170px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../img/Mais.svg");
  position: absolute;
}

.foto-thales {
  object-fit: cover;
  align-content: flex-start;
}

.segunda-col-sobre {
  order: -1;
}

.container-foto {
  display: flex;
  /* justify-content: flex-end; */
  padding-top: 40px;
}

/* Responsivo */

@media (max-width: 1400px) {
  .sobre-mim {
    margin: 40px;
  }
}

@media (max-width: 700px) {
  .decor-sobre,
  .divisor {
    display: none;
  }

  h2 {
    display: inline-block;
    padding-top: 80px;
    font-size: 30px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
  }

  .sobre-mim {
    margin: 20px;
  }
}

.segunda-col-sobre p {
  display: none;
}
