.h2-sobre {
  max-width: 1200px;
  margin: 0 auto;
}

.container-sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.container-sobre p {
  padding-top: 40px;
}

.decor-sobre {
  position: relative;
  padding-top: 100px;
}

.decor-sobre::after {
  content: "";
  left: 140px;
  top: 144px;
  display: inline-block;
  width: 94px;
  height: 94px;
  background-image: url("../img/Ellipse-5.svg");
  position: absolute;
}

.decor-sobre::before {
  content: "";
  left: 250px;
  top: 170px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../img/Mais.svg");
  position: absolute;
}

.foto-thales {
  height: 600px;
  width: 500px;
  object-fit: cover;
  align-content: flex-start;
}

/*
.decor-sobre img::after {
  content: "";
  position: absolute;
  background-image: url("../img/Ellipse-5.svg");
}

.decor-sobre img::after {
  content: "";
  position: absolute;
  background-image: url("../img/Mais.svg");
  width: 30px;
  height: 30px;
}

*/

.container-foto {
  display: flex;
  justify-content: flex-end;
}

.container-foto img {
  padding-top: 40px;
}
