@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.font-1-s {
  font: 400 1rem "poppins";
  line-height: 1.2rem;
}

.font-1-s-b {
  font: 600 1.25rem/1.75 "poppins";
}

.font-1-m {
  font: 600 1.5rem/2.1 "poppins";
}

.font-1-g {
  font: 400 3.75rem "poppins";
  line-height: 60px;
}

.font-2-s {
  font: 400 1.25rem/1.75 "roboto";
}

.font-2-s-b {
  font: 700 1.25rem/1.75 "roboto";
}

.font-2-g {
  font: 700 5rem "roboto";
}
